<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motivational Quotes Generator</title>

    <link rel="stylesheet" href="/styles/main.css">

</head>
<body>
    <%- include("partials/header.ejs") %>

    <!-- The actual content of landing page -->
    <section class="main">
        <div id="videoLanding">
            <video src="/images/production_id_3826741 (2160p).mp4" loop autoplay controls></video>
        </div>

        <div class="LandingContentDiv">
            <p class="headingLandingContent">Begin Your Day Right</p>
            <p class="LandingContentPara">
                <span>The start of your day carries significant importance as it can set the tone for the hours ahead. To ensure you don't begin your day on a negative note, establish a routine of kickstarting your mornings with motivational quotes, perhaps even multiple ones. This practice can effectively align your mindset, paving the way for a more positive and productive day. We all require a bit of assistance to initiate our days with optimism, and nothing quite accomplishes this like a steaming cup of coffee coupled with inspiring, motivating quotes.</span>
                <img src="/images/morning.jpg" alt="Morning">
            </p>
        </div>

        <div class="LandingContentDiv">
            <p class="headingLandingContent">Encourage Your Friends</p>
            <p class="LandingContentPara">
                <span>We all require a supportive presence in our lives, someone who can bring brightness to our days, offer fresh perspectives, and initiate conversations on unexplored topics. Utilize a motivational quote generator to kickstart such discussions with friends or family members. You never truly grasp the impact a motivational idea from you can have on someone else's life. It might inspire them to share it further, thus creating a ripple effect of encouragement for even more people.</span>
                <img src="/images/friends.jpg" alt="Morning">
            </p>
        </div>
        <div class="LandingContentDiv">
            <p class="headingLandingContent">Write On It</p>
            <p class="LandingContentPara">
                <span>Incorporating a motivational quote that resonates with you serves as a wonderful method to initiate a journal entry or kickstart your daily writing routine. Having that initial quote as a catalyst for your thoughts can be an invaluable resource, as you never can predict the unique path that a single idea might lead you down. Furthermore, writers often gravitate towards topics or quotes they are already acquainted with. However, when you're presented with an unfamiliar inspirational quote and author, it can compel you to embrace creativity and explore fresh perspectives, potentially steering your ideas in uncharted and stimulating directions.</span>
                <img src="/images/journal.jpg" alt="Morning">
            </p>
        </div>
        <div class="LandingContentDiv">
            <p class="headingLandingContent">Sleep On It</p>
            <p class="LandingContentPara">
                <span>It's always nice to have good thoughts running through your head right before you head off to sleep. Help quiet your busy brain by using the generator to provide a motivational quote for you as you place your head on the pillow. Not only will you go to bed on a positive note, but the thoughts can also often carry through the night so that you wake up feeling positive as well.</span>
                <img src="/images/morning.jpg" alt="Morning">
            </p>
        </div>

    </section>
    
    <%- include("partials/footer.ejs") %>


</body>
</html>