<link rel="stylesheet" href="/styles/main.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Sacramento&display=swap" rel="stylesheet">

<header id="navbarHeader">
    <ul class="navbar">
        <li><a href="/"><img src="./images/logo.jpg" alt="Logo"></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/generate">Generate Quote</a></li>
        <li><a href="/custom">Create Own Quote</a></li>
    </ul>
</header>